.container {
    display: grid;
    place-items: center;

    .body {
        width: 50%;
        background-color: #149589;
        padding: 30px;
        border-radius: 12px;

        .container {
            input {
                text-align: right;
                height: 50px;
            }
        }
    }
}